<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} old-money stories || New Story {% endblock %} </title>
    <!--
    {% block head%}
    {% endblock %}
  -->
  </head>

  <body>
    new story yurrr

    <form action = "/" method = "POST">
      Create a title:
      <br>
      <textarea rows = "1" cols = "50" name = "title">
      </textarea>
      <br>

      Make a contribution:
      <br>
      <textarea rows ="4" cols = "50" wrap = "hard" name = "contribution" >
      </textarea>
      <input type = "submit" name = "submit">

    </form>
    <!--
    {% block content %}
    booo
    {% endblock %}

    {% block footer %}
    {% endblock %}
  -->
  </body>
</html>
