<!DOCTYPE html>
<html>
  <head>
    <title> {%block title %} old-money stories || New Story {% endblock %} </title>
    <!--
    {% block head%}
    {% endblock %}
  -->
  </head>

  <body>
    new story yurrr

    <form action = "/new story" method = "POST">

      <textarea rows ="4" cols = "50" wrap = "hard" >
      </textarea>
      <input type = "submit" name = "submit">

    </form>
    <!--
    {% block content %}
    booo
    {% endblock %}

    {% block footer %}
    {% endblock %}
  -->
  </body>
</html>
