<!DOCTYPE html>
<html>
  <head>
    <title> old-money | create your user!</title>

  </head>

  <body>
    {% set msgs = get_flashed_messages() %}
    {% for each in msgs %}
      {{ each }}
      <br>

    {% endfor %}


    create your user
    <br>
    <form action = "/register" method = "POST">

      <b> Username: </b> <input type = "text" name = "username" > <br>
      <b> Password: </b> <input type = "password" name = "password1" > <br>
      <b> Repeat Password: </b> <input type = "password" name = "password2"> <br>
      <input type = "submit" name = "Log In" >
    </form>


  </body>
</html>
