{% extends "story.html" %}


{% block title %} {{ super() }}{% endblock %} {{ title }}

{% block head %}{% endblock %}

{% block content %}

<h3> You are now viewing: {{title}} </h3>

Last contribution: <br>
    {{ content }}

    <br>

	<form action = "/addStory"  method = "POST">

    <textarea rows ="4" cols = "50" wrap = "hard" name="content" pattern = "[a-zA-Z0-9-_.,?!]+">
    </textarea>
    <input type = "submit" name = "submit">

  </form>

{% endblock %}

{% block footer %} {% endblock %}
