<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} old-money stories || Home  {% endblock %} </title>
    <!--
    {% block head %}
    {% endblock %}
  -->
  </head>

  <body>
    <!--{% block content %}-->

    Welcome {{ username }} !!

    <!-- LOGOUT button -->

    <form action = "/logout" method = "GET">
    <a class="button" href="/logout">LOGOUT</a>

    <br>
    <!-- -->
    <form action = "/addStory" method = "POST">
    <a class="button" href="/addStory"> Add a Story!</a>


    <form action = "/display" method = "POST">
    <a class="button" href="/"> Display your stories! </a>


    <form action = "/viewStory" method = "POST">
    <a class="button" href="/"> View your stories! </a>

<!--
    {% endblock %}

    {% block footer %}
    {% endblock %}
  -->
  </body>
</html>
