<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} old-money stories || Home  {% endblock %} </title>
    <!--
    {% block head %}
    {% endblock %}
  -->
  </head>

  <body>
    <!--{% block content %}-->

    Welcome {{ username }} !!

    <!-- LOGOUT button -->

    <form action = "/logout" method = "GET">
    <a class="button" href="/logout">LOGOUT</a>

    <br>
    <!-- -->
    
    <form action = "/newStory" method = "POST">
    <a class="button" href="/newStory"> Add a Story!</a>
 (only possible for newly added users, not old ones)
    <br>
<br>
    (not yet realizable)<br>
    <form action = "/display" method = "POST">
    <a class="button" href="/"> Display your stories! </a>


    <form action = "/viewyourStories" method = "POST">
      <a class="button" href="/viewyourStories"> View your stories! </a>

    <form action = "/viewAllStories" method = "POST">
      <a class="button" href="/viewAllStories"> View all stories! </a>
      
      <h2> Purely Edition functions to be removed</h2>
      <a href="/display?story=Frankenstein">view stories</a>\n<a href="/editPage?story=Frankenstein">edit stories</a>

<!--
    {% endblock %}

    {% block footer %}
    {% endblock %}
  -->
  </body>
</html>
