<!DOCTYPE html>
<html>
  <head>
    <title> {% block title %} old-money stories || Login {% endblock %} </title>
    <!--
    {% block head %}
    {% endblock %}
  -->
  </head>

  <body>
    <!--{% block content %}-->
    Welcome to old-money stories!
    <br>

    log in
    <form action = "/auth" method = "POST">

      <b> Username: </b> <input type = "text" name = "username" > <br>
      <b> Password: </b> <input type = "password" name = "password" > <br>
      <input type = "submit" name = "Log In" >
    </form>

    <form action = "/register" method = "POST">
      <a class="button" href="/#">create user</a>



<!--
    {% endblock %}

    {% block footer %}
    {% endblock %}
  -->
  </body>
</html>
